name: Build Rust
on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ windows-latest, ubuntu-latest, macos-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache: true
      - name: Get target triple
        id: target_triple
        shell: bash
        run: echo "target_triple=$(rustc -Vv | grep host | cut -d' ' -f2)" >> "$GITHUB_OUTPUT"
      - name: Build Rust code
        run: cargo build --release
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.target_triple.outputs.target_triple }}
          path: target/release/msp?map?editor*
